torch
transformers
datasets
peft
fastapi
uvicorn
pydantic
shap
scikit-learn
pandas
matplotlib
seaborn
nltk
wordcloud
textstat
datasets
transformers
tldextract
python-dotenv
emoji
beautifulsoup4
sentence_transformers
